<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationOrderForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="_id" value="<%= order._id %>">

        <label for="customer">Customer: <span class="symbol-required">*</span></label>
        <select id="customer" name="customer" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="" selected>--Choose customer--</option>
            <% for(let i = 0;i < allCustomers.length;i++){let customer = allCustomers[i]; %>
            <option value="<%= customer._id %>" label="<%= customer.firstName + '' + customer.lastName %>"
                    <%= (order._id && customer._id.toString() == order.customer._id.toString()) ? 'selected' : '' %>></option>
            <% } %>
        </select>
        <span id="errorCustomer" class="errors-text"></span>

        <label for="car">Car: <span class="symbol-required">*</span></label>
        <select name="car" id="car" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="" selected>--Choose car--</option>
            <% for(let i = 0;i < allCars.length;i++){let car = allCars[i]; %>
            <option value="<%= car._id %>" label="<%= car.carBrand + '' + car.carModel %>"
                    <%= (order._id && car._id.toString() == order.car._id.toString()) ? 'selected' : '' %>></option>
            <% } %>
        </select>
        <span id="errorCar" class="errors-text"></span>

        <label for="dateFrom">Date From: <span class="symbol-required">*</span></label>
        <input type="date" name="dateFrom" required id="dateFrom" value="<%= order.dateFrom %>"
                <% (formMode == 'showDetails') ? 'disabled' : '' %>
        />
        <span id="errorDateFrom" class="errors-text"></span>

        <label for="dateTo">Date To: <span class="symbol-required">*</span></label>
        <input type="date" name="dateTo" id="dateTo" required value="<% order.dateTo %>"
                <% (formMode == 'showDetails')?'disabled':'' %>
        />
        <span id="errorDateTo" class="errors-text"></span>

        <label for="price">Price: <span class="symbol-required">*</span></label>
        <input type="number" name="price" id="price" placeholder="0 - 1.000.000" required value="<% order.price %>"
                <% (formMode == 'showDetails')?'disabled':'' %>
        />
        <span id="errorPrice" class="errors-text"></span>
    </form>
    <% if(formMode == 'showDetails'){ %>
        <div>
            <a href="/order/edit/<%= order._id %>" class="button-edit">Edit</a>
        </div>
    <% } %>

    <!--        details....customer,car,dateFrom,dateTo,price-->

    <div class="form-buttons">
        <p id="errorsSummary" class="errors-text"></p>
        <% if(formMode != 'showDetails'){ %>
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
            <a class="form-button-cancel" href="/customer">Cancel</a>
        <% }else{ %>
            <a class="form-button-cancel" href="/customer">Back</a>
        <% } %>
    </div>

</main>
<%- include('../../fragments/footer.ejs') %>