<%- include('../../fragments/header.ejs')%>
        <main>
            <h2><%=__('cus.list.pageTitle')%></h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th><%=__('cus.fields.firstName')%></th>
                        <th><%=__('cus.fields.lastName')%></th>
                        <th class="hideme"><%=__('cus.fields.email')%></th>
                        <%if(loggedUser){%>
                        <th><%=__('list.actions.title')%></th>
                        <%}%>
                    </tr>
                </thead>
                <tbody>
                <% for(let customer of customers) {%>
                    <tr>
                        <td><%=customer.firstName%></td>
                        <td><%=customer.lastName%></td>
                        <td class="hideme"><%=customer.email%></td>
                        <%if(loggedUser){%>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/customer/details/<%=customer._id%>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
                                <li><a href="/customer/edit/<%=customer._id%>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
                                <li><a href="/customer/delete/<%=customer._id%>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
                            </ul>
                        </td>
                        <%}%>
                    </tr>
                <%}%>
                </tbody>
            </table>
            <%if(loggedUser){%>
            <p><a href="customer/add" class="button-add"><%=__('cus.list.addNew')%></a></p>
            <%}%>
        </main>
<%- include('../../fragments/footer.ejs')%>