<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationCarForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2>
        <%= pageTitle %>
    </h2>

    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm()">

        <input type="hidden" name="_id" value="<%= car._id %>">

        <label for="carBrand"><%=__('car.fields.carBrand')%>: <span class="symbol-required">*</span></label>
        <input type="text" name="carBrand" id="carBrand" placeholder="<%=__('car.fields.phrange')%>" value="<%= car.carBrand %>"
               class="<%= validationErrors.find(e => e.path.includes('carBrand')) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorCarBrand" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('carBrand'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('carBrand')).message) %>
            <% } %>
        </span>

        <label for="carModel"><%=__('car.fields.carModel')%>: <span class="symbol-required">*</span></label>
        <input type="text" name="carModel" id="carModel" placeholder="<%=__('car.fields.phrange')%>" value="<%= car.carModel %>"
               class="<%= validationErrors.find(e => e.path.includes('carModel')) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorCarModel" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('carModel'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('carModel')).message) %>
            <% } %>
        </span>

        <label for="year"><%=__('car.fields.year')%>:</label>
        <input type="text" name="year" id="year" placeholder="<%=__('car.fields.phnumber')%>" value="<%= car.year %>"
               class="<%= (validationErrors.find(e => e.path.includes('year'))) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorYear" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('year'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('year')).message) %>
            <% } %>
        </span>

        <div style="display:none">
            <span id="errorMessage-required"><%=__('validationMessage.fieldRequired')%></span>
        </div>
        <div style="display:none">
            <span id="errorMessage-checkTextLengthRange"><%=__('validationMessage.checkTextLengthRange')%></span>
        </div>
        <div style="display:none">
            <span id="errorMessage-checkNumber"><%=__('validationMessage.checkNumber')%></span>
        </div>
        <div style="display:none">
            <span id="errorMessage-checkNegative"><%=__('validationMessage.negative')%></span>
        </div>
        <div style="display:none">
            <span id="errorMessage-checkYearRange"><%=__('validationMessage.checkYearRange')%></span>
        </div>
        <div style="display:none">
            <span id="errorMessage-sumMessage"><%=__('validationMessage.sumMessage')%></span>
        </div>

        <% if(formMode == 'showDetails'){ %>
            <div class="section-buttons">
                <a class="list-actions-button-edit" href="/car/edit/<%= car._id %>"
                   class="button-edit"><%=__('form.actions.edit')%></a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text">
                <% if (validationErrors.find(e => e.path)) { %>
                    <%= 'Formularz zawiera błędy' %>
                <% } %>
            </p>

            <% if(formMode != 'showDetails'){ %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a href="/car" class="form-button-cancel"><%=__('form.actions.cancel')%></a>
            <% }else{ %>
                <a class="form-button-cancel" href="/car"><%=__('form.actions.return')%></a>
            <% } %>
        </div>
    </form>

    <% if (formMode == 'showDetails'){ %>
        <h2>
            <%=__('cus.form.order')%>
        </h2>
        <table class="table-list">
            <thead>
            <tr>
                <th><%=__('order.fields.customer')%></th>
                <th><%=__('order.fields.dateFrom')%></th>
                <th><%=__('order.fields.dateTo')%></th>
                <th><%=__('order.fields.price')%></th>
            </tr>
            </thead>
            <tbody>
            <% for(let c of car.order){ %>
                <tr>
                    <td>
                        <a href="/customer/details/<%= c.customer._id %>"><%= c.customer.firstName + ' ' + c.customer.lastName %></a>
                    </td>
                    <td><%= fmt.formatDate(c.dateFrom) %></td>
                    <td><%= fmt.formatDate(c.dateTo) %></td>
                    <td><%= c.price %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>