<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Car Rental Demo</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<% if(!loggedUser){ %>
    <div id="login">
        <h5><%=__('cus.fields.logging')%></h5>
        <form method="post" action="/login" novalidation>
            <label for="loginEmail"><%=__('cus.fields.email')%>:</label>
            <input type="email" id="loginEmail" name="email">

            <label for="loginPassword"><%=__('cus.fields.password')%>:</label>
            <input type="password" id="loginPassword" name="password">

            <input type="submit" class ="button-logout" value="<%=__('cus.fields.login')%>">
            <span id="loginErrors"><%= loginError ? loginError : '' %></span>
        </form>
    </div>
<% }else{ %>

    <span><%=__('cus.fields.log')%><%= loggedUser.firstName + " " + loggedUser.lastName %></span>
    <a class="button-logout" href="/logout"><%=__('cus.fields.logout')%></a>

<% } %>
<header>
    <h1>Car Rental</h1>
    <img src="../../images/carrentallogo.jpg" alt="Car Rental Logo">
</header>
<nav>
    <ul>

        <%if(!loggedUser){%>
            <li><a href="/register" class="<%= navLocation == 'register' ? 'active' : '' %>">Register</a></li>
        <%}%>

            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>"><%= __('nav.main-page') %></a></li>
            <li><a href="/customer" class="<%= navLocation == 'customer' ? 'active' : '' %>"><%= __('nav.customers') %></a></li>
            <li><a href="/order" class="<%= navLocation == 'order' ? 'active' : '' %>"><%= __('nav.orders') %></a></li>
            <li><a href="/car" class="<%= navLocation == 'car' ? 'active' : '' %>"><%= __('nav.cars') %></a></li>
            <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : '' %>">PL</a></li>
            <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : '' %>">EN</a></li>
    </ul>
</nav>